<button
  mat-icon-button
  class="es-audio-player-volume__button"
  disableRipple="true"
  esTooltip
  [esTooltipContent]="content"
  esTooltipArrow
  esTooltipInteractive
  (click)="onMute()"
>
  <img [src]="src" />
</button>

<ng-template #content>
  <div class="es-audio-player-volume__container">
    <mat-slider
      #sliderVolume
      class="es-audio-player-volume__slider"
      color="primary"
      min="0"
      step="1"
      max="100"
      [value]="volume"
      vertical="true"
      (change)="onVolumeChanged($event.value)"
      (input)="onVolumeSliderMove($event.value)"
    ></mat-slider>
    <label>{{ sliderVolume.value }}</label>
  </div>
</ng-template>
