@mixin es-audio-player-volume-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);

  .es-audio-player-volume {
    background-color: mat-color($mono-a, A75);

    &__button.mat-icon-button {
      color: mat-color($mono-a, A600);
    }

    &__slider {
      &.mat-slider {
        &:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
        &:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
        &:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb,
        .cdk-mouse-focused .mat-slider-thumb,
        .mat-slider-thumb {
          background-color: mat-color($mono-b, 500);
        }

        .mat-slider-focus-ring {
          background-color: mat-color($mono-b, A200);
        }

        &.mat-slider-vertical {
          .mat-slider-track-fill,
          .mat-slider-track-wrapper,
          .mat-slider-track-background {
            background-color: mat-color($mono-b, 500);
          }

          .mat-slider-track-wrapper,
          .mat-slider-track-background {
            background-color: mat-color($mono-b, A400);
          }
        }
      }
    }
  }
}
