<ng-container *ngIf="locale$ | async as locale">
  <button
    mat-icon-button
    class="es-audio-player-volume__button"
    data-testid="volume"
    disableRipple="true"
    esTooltip
    [esTooltipContent]="content"
    esTooltipArrow
    esTooltipInteractive
    [esTooltipDisableCloseClickListener]="true"
    [attr.aria-label]="this.isMute ? locale.audioPlayer.labelUnMute : locale.audioPlayer.labelMute"
    (click)="onMute()"
  >
    <mat-icon svgIcon="es-audio-player:{{ this.isMute ? 'mute' : 'un-mute' }}"></mat-icon>
  </button>

  <ng-template #content>
    <div class="es-audio-player-volume__container">
      <mat-slider
        #sliderVolume
        class="es-audio-player-volume__slider"
        color="primary"
        min="0"
        step="1"
        max="100"
        [value]="volume"
        vertical="true"
        (change)="onVolumeChanged($event.value)"
        (input)="onVolumeSliderMove($event.value)"
      ></mat-slider>
      <label>{{ sliderVolume.value }}</label>
    </div>
  </ng-template>
</ng-container>
