.es-autocomplete-multiple-story-basic {
  width: 100%;

  &__field.mat-form-field {
    width: 300px;

    &.mat-form-field-appearance-outline {
      .mat-form-field-infix {
        border-top: 0;
        padding-bottom: 16px;
        padding-top: 16px;
      }

      .mat-form-field-label {
        top: 2.4em;
      }
    }
  }
}
