@import './components/alert-actions/alert-actions.component.theme';

@mixin es-alert-theme($theme, $elonkit-theme) {
  $warn: map-get($theme, warn);
  $info: map-get($elonkit-theme, info);
  $positive: map-get($elonkit-theme, positive);
  $attention: map-get($elonkit-theme, attention);
  $mono-a: map-get($elonkit-theme, mono-a);

  @include es-alert-actions-theme($theme, $elonkit-theme);

  .es-alert {
    &_variant {
      &_default {
        background-color: mat-color($mono-a, A50);
        border-color: mat-color($mono-a, A100);
      }

      &_info {
        background-color: mat-color($info, A100);
        border-color: mat-color($info, A300);
      }

      &_success {
        background-color: mat-color($positive, A100);
        border-color: mat-color($positive, A300);
      }

      &_warning {
        background-color: mat-color($attention, A100);
        border-color: mat-color($attention, A200);
      }

      &_error {
        background-color: mat-color($warn, A100);
        border-color: mat-color($warn, A200);
      }
    }

    &__text {
      color: mat-color($mono-a, A900);
    }

    &__icon {
      &_variant {
        &_default {
          color: mat-color($mono-a, A500);
        }

        &_info {
          color: mat-color($info);
        }

        &_success {
          color: mat-color($positive);
        }

        &_warning {
          color: mat-color($attention);
        }

        &_error {
          color: mat-color($warn);
        }
      }
    }
  }
}
