.es-alert {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 56px;
  padding: 7px 16px;

  &__content {
    display: flex;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__title {
    font-weight: 700;

    &:empty {
      display: none;
    }
  }

  &__text {
    position: relative;
  }

  &__icon {
    margin: 8px 8px 0 0;
    min-width: 24px;

    &_close.mat-icon-button {
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.38);
      height: 24px;
      line-height: 22px;
      margin: -8px;
      margin-left: auto;
      margin-top: 10px;
      width: 24px;
    }
  }
}
