.group {
  display: flex;

  &__avatar {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;

    &:last-child {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-left: -12px;
    }
  }
}

.typography {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
}
