.form {
  max-width: 400px;
}

.typography {
  &-body-1 {
    color: #469582;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  &-caption {
    color: rgba(0, 0, 0, 0.38);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
  }

  &-hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 16px;
  }
}
