$es-dark-primary: mat-palette(
  (
    50: #283593,
    100: #303f9f,
    200: #3949ab,
    300: #3f51b5,
    400: #5c6bc0,
    500: #7986cb,
    600: #9fa8da,
    700: #c5cae9,
    800: #e8eaf6,
    900: #f5f6fa,
    A50: rgba(121, 134, 203, 0.04),
    A75: rgba(121, 134, 203, 0.06),
    A100: rgba(121, 134, 203, 0.08),
    A150: rgba(121, 134, 203, 0.1),
    A200: rgba(121, 134, 203, 0.12),
    A300: rgba(121, 134, 203, 0.16),
    A400: rgba(121, 134, 203, 0.24),
    A500: rgba(121, 134, 203, 0.32),
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #fff,
      400: #fff,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff
    )
  )
);

$es-dark-accent: mat-palette(
  (
    50: #00695c,
    100: #00796b,
    200: #00897b,
    300: #009688,
    400: #26a69a,
    500: #4db6ac,
    600: #80cbc4,
    700: #b2dfdb,
    800: #e0f2f1,
    900: #f0f7f7,
    A50: rgba(77, 182, 172, 0.04),
    A75: rgba(77, 182, 172, 0.06),
    A100: rgba(77, 182, 172, 0.08),
    A150: rgba(77, 182, 172, 0.1),
    A200: rgba(77, 182, 172, 0.12),
    A300: rgba(77, 182, 172, 0.16),
    A400: rgba(77, 182, 172, 0.24),
    A500: rgba(77, 182, 172, 0.32),
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #fff,
      400: #fff,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff
    )
  )
);

$es-dark-warn: mat-palette(
  (
    500: #ff594d,
    A50: rgba(255, 89, 77, 0.04),
    A75: rgba(255, 89, 77, 0.06),
    A100: rgba(255, 89, 77, 0.08),
    A150: rgba(255, 89, 77, 0.1),
    A200: rgba(255, 89, 77, 0.12),
    A300: rgba(255, 89, 77, 0.16),
    A400: rgba(255, 89, 77, 0.24),
    A500: rgba(255, 89, 77, 0.32),
    contrast: (
      500: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff
    )
  ),
  500,
  500,
  500
);

$es-dark-theme: (
  info:
    mat-palette(
      (
        500: #5eaeff,
        A50: rgba(94, 174, 255, 0.04),
        A75: rgba(94, 174, 255, 0.06),
        A100: rgba(94, 174, 255, 0.08),
        A150: rgba(94, 174, 255, 0.1),
        A200: rgba(94, 174, 255, 0.12),
        A300: rgba(94, 174, 255, 0.16),
        A400: rgba(94, 174, 255, 0.24),
        A500: rgba(94, 174, 255, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat-palette(
      (
        500: #47d6a3,
        A50: rgba(71, 214, 163, 0.04),
        A75: rgba(71, 214, 163, 0.06),
        A100: rgba(71, 214, 163, 0.08),
        A150: rgba(71, 214, 163, 0.1),
        A200: rgba(71, 214, 163, 0.12),
        A300: rgba(71, 214, 163, 0.16),
        A400: rgba(71, 214, 163, 0.24),
        A500: rgba(71, 214, 163, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat-palette(
      (
        500: #fca032,
        A50: rgba(252, 160, 50, 0.04),
        A75: rgba(252, 160, 50, 0.06),
        A100: rgba(252, 160, 50, 0.08),
        A150: rgba(252, 160, 50, 0.1),
        A200: rgba(252, 160, 50, 0.12),
        A300: rgba(252, 160, 50, 0.16),
        A400: rgba(252, 160, 50, 0.24),
        A500: rgba(252, 160, 50, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat-palette(
      (
        500: #fff,
        A50: rgba(255, 255, 255, 0.04),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.22),
        A500: rgba(255, 255, 255, 0.34),
        A600: rgba(255, 255, 255, 0.52),
        A700: rgba(255, 255, 255, 0.58),
        A800: rgba(255, 255, 255, 0.7),
        A900: rgba(255, 255, 255, 0.86),
        contrast: (
          500: #fff,
          A50: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat-palette(
      (
        500: #000,
        A50: rgba(0, 0, 0, 0.04),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.22),
        A500: rgba(0, 0, 0, 0.38),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A50: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  greyscale:
    mat-palette(
      (
        50: #262a31,
        100: #353b45,
        200: #464c59,
        300: #555e6d,
        400: #667185,
        500: #7f8a9f,
        600: #a3aec2,
        700: #c3cbda,
        800: #dee3ed,
        900: #f5f7fa,
        contrast: (
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000
        )
      )
    ),
  surface:
    mat-palette(
      (
        0: #18181a,
        1: rgba(255, 255, 255, 0.05),
        2: rgba(255, 255, 255, 0.07),
        3: rgba(255, 255, 255, 0.08),
        4: rgba(255, 255, 255, 0.09),
        6: rgba(255, 255, 255, 0.11),
        8: rgba(255, 255, 255, 0.12),
        12: rgba(255, 255, 255, 0.14),
        16: rgba(255, 255, 255, 0.15),
        24: rgba(255, 255, 255, 0.16),
        on: rgba(255, 255, 255, 0.03),
        contrast: (
          0: #fff,
          1: #fff,
          2: #fff,
          3: #fff,
          4: #fff,
          6: #fff,
          8: #fff,
          12: #fff,
          16: #fff,
          24: #fff,
          on: #fff
        )
      )
    ),
  white:
    mat-palette(
      (
        500: #fff,
        A50: rgba(255, 255, 255, 0.04),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.22),
        A500: rgba(255, 255, 255, 0.34),
        A600: rgba(255, 255, 255, 0.52),
        A700: rgba(255, 255, 255, 0.58),
        A800: rgba(255, 255, 255, 0.7),
        A900: rgba(255, 255, 255, 0.86),
        contrast: (
          500: #000,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  black:
    mat-palette(
      (
        500: #000,
        A50: rgba(0, 0, 0, 0.04),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.22),
        A500: rgba(0, 0, 0, 0.38),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  other:
    mat-palette(
      (
        background: #18181a,
        overlay-gallery: rgba(26, 26, 26, 0.94),
        overlay-modal: rgba(93, 93, 96, 0.65),
        overlay-filter: rgba(74, 75, 78, 0.43),
        link: #4891ed,
        link-visited: #be95ff,
        switch: #fafafa,
        contrast: (
          background: #fff,
          overlay-gallery: #fff,
          overlay-modal: #fff,
          overlay-filter: #fff,
          link: #fff,
          link-visited: #fff,
          switch: #000
        )
      )
    )
);
