@use '~@angular/material' as mat;

$es-dark-primary: mat.define-palette(
  (
    50: #c0c0ff,
    100: #988dff,
    200: #7c5aff,
    300: #6d2fff,
    400: #631ae9,
    500: #590dcd,
    600: #46069f,
    700: #340472,
    800: #240351,
    900: #14062e,
    A25: rgba(109, 47, 255, 0.02),
    A50: rgba(109, 47, 255, 0.04),
    A75: rgba(109, 47, 255, 0.06),
    A100: rgba(109, 47, 255, 0.08),
    A150: rgba(109, 47, 255, 0.1),
    A200: rgba(109, 47, 255, 0.12),
    A300: rgba(109, 47, 255, 0.16),
    A400: rgba(109, 47, 255, 0.24),
    A500: rgba(109, 47, 255, 0.34),
    A550: rgba(109, 47, 255, 0.44),
    A600: rgba(109, 47, 255, 0.54),
    A700: rgba(109, 47, 255, 0.6),
    A800: rgba(109, 47, 255, 0.72),
    A900: rgba(109, 47, 255, 0.88),
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  )
);

$es-dark-accent: mat.define-palette(
  (
    50: #9af0c9,
    100: #7becbd,
    200: #59e0ac,
    300: #37c995,
    400: #1fa377,
    500: #0c7655,
    600: #024d38,
    700: #003023,
    800: #001e17,
    900: #001712,
    A25: rgba(55, 201, 149, 0.02),
    A50: rgba(55, 201, 149, 0.04),
    A75: rgba(55, 201, 149, 0.06),
    A100: rgba(55, 201, 149, 0.08),
    A150: rgba(55, 201, 149, 0.1),
    A200: rgba(55, 201, 149, 0.12),
    A300: rgba(55, 201, 149, 0.16),
    A400: rgba(55, 201, 149, 0.24),
    A500: rgba(55, 201, 149, 0.34),
    A550: rgba(55, 201, 149, 0.44),
    A600: rgba(55, 201, 149, 0.54),
    A700: rgba(55, 201, 149, 0.6),
    A800: rgba(55, 201, 149, 0.72),
    A900: rgba(55, 201, 149, 0.88),
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #fff,
      400: #fff,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  )
);

$es-dark-warn: mat.define-palette(
  (
    50: #ffc3c3,
    100: #ff9b99,
    200: #ff6f68,
    300: #f44336,
    400: #c6281f,
    500: #91130d,
    600: #600502,
    700: #3c0100,
    800: #240000,
    900: #170000,
    A25: rgba(244, 67, 54, 0.02),
    A50: rgba(244, 67, 54, 0.04),
    A75: rgba(244, 67, 54, 0.06),
    A100: rgba(244, 67, 54, 0.08),
    A150: rgba(244, 67, 54, 0.1),
    A200: rgba(244, 67, 54, 0.12),
    A300: rgba(244, 67, 54, 0.16),
    A400: rgba(244, 67, 54, 0.24),
    A500: rgba(244, 67, 54, 0.34),
    A550: rgba(244, 67, 54, 0.44),
    A600: rgba(244, 67, 54, 0.54),
    A700: rgba(244, 67, 54, 0.6),
    A800: rgba(244, 67, 54, 0.72),
    A900: rgba(244, 67, 54, 0.88),
    contrast: (
      50: #fff,
      100: #fff,
      200: #000,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  ),
  500,
  500,
  500
);

$es-dark-theme: (
  info:
    mat.define-palette(
      (
        500: #5eaeff,
        A50: rgba(94, 174, 255, 0.04),
        A75: rgba(94, 174, 255, 0.06),
        A100: rgba(94, 174, 255, 0.08),
        A150: rgba(94, 174, 255, 0.1),
        A200: rgba(94, 174, 255, 0.12),
        A300: rgba(94, 174, 255, 0.16),
        A400: rgba(94, 174, 255, 0.24),
        A500: rgba(94, 174, 255, 0.32),
        A600: rgba(94, 174, 255, 0.52),
        A700: rgba(94, 174, 255, 0.58),
        A800: rgba(94, 174, 255, 0.7),
        A900: rgba(94, 174, 255, 0.86),
        contrast: (
          500: #000,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat.define-palette(
      (
        500: #47d6a3,
        A50: rgba(71, 214, 163, 0.04),
        A75: rgba(71, 214, 163, 0.06),
        A100: rgba(71, 214, 163, 0.08),
        A150: rgba(71, 214, 163, 0.1),
        A200: rgba(71, 214, 163, 0.12),
        A300: rgba(71, 214, 163, 0.16),
        A400: rgba(71, 214, 163, 0.24),
        A500: rgba(71, 214, 163, 0.32),
        A600: rgba(71, 214, 163, 0.52),
        A700: rgba(71, 214, 163, 0.58),
        A800: rgba(71, 214, 163, 0.7),
        A900: rgba(71, 214, 163, 0.86),
        contrast: (
          500: #000,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat.define-palette(
      (
        500: #fca032,
        A50: rgba(252, 160, 50, 0.04),
        A75: rgba(252, 160, 50, 0.06),
        A100: rgba(252, 160, 50, 0.08),
        A150: rgba(252, 160, 50, 0.1),
        A200: rgba(252, 160, 50, 0.12),
        A300: rgba(252, 160, 50, 0.16),
        A400: rgba(252, 160, 50, 0.24),
        A500: rgba(252, 160, 50, 0.32),
        A600: rgba(252, 160, 50, 0.52),
        A700: rgba(252, 160, 50, 0.58),
        A800: rgba(252, 160, 50, 0.7),
        A900: rgba(252, 160, 50, 0.86),
        contrast: (
          500: #000,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat.define-palette(
      (
        500: #fff,
        A25: rgba(255, 255, 255, 0.02),
        A50: rgba(255, 255, 255, 0.04),
        A75: rgba(255, 255, 255, 0.06),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.34),
        A500: rgba(255, 255, 255, 0.34),
        A550: rgba(255, 255, 255, 0.44),
        A600: rgba(255, 255, 255, 0.54),
        A700: rgba(255, 255, 255, 0.6),
        A800: rgba(255, 255, 255, 0.72),
        A900: rgba(255, 255, 255, 0.88),
        contrast: (
          500: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat.define-palette(
      (
        500: #000,
        A25: rgba(0, 0, 0, 0.02),
        A50: rgba(0, 0, 0, 0.04),
        A75: rgba(0, 0, 0, 0.06),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.24),
        A500: rgba(0, 0, 0, 0.34),
        A550: rgba(0, 0, 0, 0.44),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  grayscale:
    mat.define-palette(
      (
        50: #262a31,
        100: #353b45,
        200: #464c59,
        300: #555e6d,
        400: #667185,
        500: #7f8a9f,
        600: #a3aec2,
        700: #c3cbda,
        800: #dee3ed,
        900: #f5f7fa,
        contrast: (
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000
        )
      )
    ),
  surface:
    mat.define-palette(
      (
        50: #18181a,
        100: rgba(255, 255, 255, 0.05),
        200: rgba(255, 255, 255, 0.07),
        300: rgba(255, 255, 255, 0.08),
        400: rgba(255, 255, 255, 0.09),
        500: rgba(255, 255, 255, 0.11),
        600: rgba(255, 255, 255, 0.12),
        700: rgba(255, 255, 255, 0.14),
        800: rgba(255, 255, 255, 0.15),
        900: rgba(255, 255, 255, 0.16),
        on: rgba(255, 255, 255, 0.03),
        contrast: (
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff,
          on: #fff
        )
      )
    ),
  white:
    mat.define-palette(
      (
        500: #fff,
        A50: rgba(255, 255, 255, 0.04),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.22),
        A500: rgba(255, 255, 255, 0.34),
        A600: rgba(255, 255, 255, 0.52),
        A700: rgba(255, 255, 255, 0.58),
        A800: rgba(255, 255, 255, 0.7),
        A900: rgba(255, 255, 255, 0.86),
        contrast: (
          500: #000,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  black:
    mat.define-palette(
      (
        500: #000,
        A50: rgba(0, 0, 0, 0.04),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.22),
        A500: rgba(0, 0, 0, 0.38),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    )
);
