$es-light-primary: mat-palette(
  (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A50: rgba(63, 81, 181, 0.04),
    A75: rgba(63, 81, 181, 0.06),
    A100: rgba(63, 81, 181, 0.08),
    A150: rgba(63, 81, 181, 0.1),
    A200: rgba(63, 81, 181, 0.12),
    A300: rgba(63, 81, 181, 0.16),
    A400: rgba(63, 81, 181, 0.24),
    A500: rgba(63, 81, 181, 0.32),
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000
    )
  )
);

$es-light-accent: mat-palette(
  (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc4,
    300: #4db6ac,
    400: #26a69a,
    500: #009688,
    600: #00897b,
    700: #00796b,
    800: #00695c,
    900: #005046,
    A50: rgba(0, 150, 136, 0.04),
    A75: rgba(0, 150, 136, 0.06),
    A100: rgba(0, 150, 136, 0.08),
    A150: rgba(0, 150, 136, 0.1),
    A200: rgba(0, 150, 136, 0.12),
    A300: rgba(0, 150, 136, 0.16),
    A400: rgba(0, 150, 136, 0.24),
    A500: rgba(0, 150, 136, 0.32),
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000
    )
  )
);

$es-light-warn: mat-palette(
  (
    500: #f44336,
    A50: rgba(244, 67, 54, 0.04),
    A75: rgba(244, 67, 54, 0.06),
    A100: rgba(244, 67, 54, 0.08),
    A150: rgba(244, 67, 54, 0.1),
    A200: rgba(244, 67, 54, 0.12),
    A300: rgba(244, 67, 54, 0.16),
    A400: rgba(244, 67, 54, 0.24),
    A500: rgba(244, 67, 54, 0.32),
    contrast: (
      500: #000,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000
    )
  ),
  500,
  500,
  500
);

$es-light-theme: (
  info:
    mat-palette(
      (
        500: #47a3ff,
        A50: rgba(71, 163, 255, 0.04),
        A75: rgba(71, 163, 255, 0.06),
        A100: rgba(71, 163, 255, 0.08),
        A150: rgba(71, 163, 255, 0.1),
        A200: rgba(71, 163, 255, 0.12),
        A300: rgba(71, 163, 255, 0.16),
        A400: rgba(71, 163, 255, 0.24),
        A500: rgba(71, 163, 255, 0.32),
        contrast: (
          500: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat-palette(
      (
        500: #37c995,
        A50: rgba(55, 201, 149, 0.04),
        A75: rgba(55, 201, 149, 0.06),
        A100: rgba(55, 201, 149, 0.08),
        A150: rgba(55, 201, 149, 0.1),
        A200: rgba(55, 201, 149, 0.12),
        A300: rgba(55, 201, 149, 0.16),
        A400: rgba(55, 201, 149, 0.24),
        A500: rgba(55, 201, 149, 0.32),
        contrast: (
          500: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat-palette(
      (
        500: #ee9225,
        A50: rgba(238, 146, 37, 0.04),
        A75: rgba(238, 146, 37, 0.06),
        A100: rgba(238, 146, 37, 0.08),
        A150: rgba(238, 146, 37, 0.1),
        A200: rgba(238, 146, 37, 0.12),
        A300: rgba(238, 146, 37, 0.16),
        A400: rgba(238, 146, 37, 0.24),
        A500: rgba(238, 146, 37, 0.32),
        contrast: (
          500: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat-palette(
      (
        500: #000,
        A50: rgba(0, 0, 0, 0.04),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.22),
        A500: rgba(0, 0, 0, 0.38),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat-palette(
      (
        500: #fff,
        A50: rgba(255, 255, 255, 0.04),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.22),
        A500: rgba(255, 255, 255, 0.34),
        A600: rgba(255, 255, 255, 0.52),
        A700: rgba(255, 255, 255, 0.58),
        A800: rgba(255, 255, 255, 0.7),
        A900: rgba(255, 255, 255, 0.86),
        contrast: (
          500: #000,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  greyscale:
    mat-palette(
      (
        50: #f5f7fa,
        100: #dee3ed,
        200: #c3cbda,
        300: #a3aec2,
        400: #7f8a9f,
        500: #667185,
        600: #555e6d,
        700: #464c59,
        800: #353b45,
        900: #262a31,
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff
        )
      )
    ),
  surface:
    mat-palette(
      (
        0: #fff,
        1: #fff,
        2: #fff,
        3: #fff,
        4: #fff,
        6: #fff,
        8: #fff,
        12: #fff,
        16: #fff,
        24: #fff,
        on: #f5f7fa,
        contrast: (
          0: #000,
          1: #000,
          2: #000,
          3: #000,
          4: #000,
          6: #000,
          8: #000,
          12: #000,
          16: #000,
          24: #000,
          on: #000
        )
      )
    ),
  other:
    mat-palette(
      (
        background: #f5f7fa,
        link: #1c75e7,
        link-visited: #8a3ffc,
        switch: #fafafa,
        contrast: (
          background: #000,
          link: #fff,
          link-visited: #fff,
          switch: #000
        )
      )
    )
);
