@use '~@angular/material' as mat;

$es-light-primary: mat.define-palette(
  (
    50: #c0c0ff,
    100: #988dff,
    200: #7c5aff,
    300: #6d2fff,
    400: #631ae9,
    500: #590dcd,
    600: #46069f,
    700: #340472,
    800: #240351,
    900: #14062e,
    A25: rgba(109, 47, 255, 0.02),
    A50: rgba(109, 47, 255, 0.04),
    A75: rgba(109, 47, 255, 0.06),
    A100: rgba(109, 47, 255, 0.08),
    A150: rgba(109, 47, 255, 0.1),
    A200: rgba(109, 47, 255, 0.12),
    A300: rgba(109, 47, 255, 0.16),
    A400: rgba(109, 47, 255, 0.24),
    A500: rgba(109, 47, 255, 0.34),
    A550: rgba(109, 47, 255, 0.44),
    A600: rgba(109, 47, 255, 0.54),
    A700: rgba(109, 47, 255, 0.6),
    A800: rgba(109, 47, 255, 0.72),
    A900: rgba(109, 47, 255, 0.88),
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #fff,
      400: #fff,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A25: #000,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000,
      A550: #000,
      A600: #000,
      A700: #000,
      A800: #000,
      A900: #000
    )
  ),
  500,
  500,
  500
);

$es-light-accent: mat.define-palette(
  (
    50: #ffe8b7,
    100: #ffdc8d,
    200: #ffcc62,
    300: #ffb93b,
    400: #e5991f,
    500: #cc7e00,
    600: #9c5e00,
    700: #6e4200,
    800: #452900,
    900: #261700,
    A25: rgba(255, 185, 59, 0.02),
    A50: rgba(255, 185, 59, 0.04),
    A75: rgba(255, 185, 59, 0.06),
    A100: rgba(255, 185, 59, 0.08),
    A150: rgba(255, 185, 59, 0.1),
    A200: rgba(255, 185, 59, 0.12),
    A300: rgba(255, 185, 59, 0.16),
    A400: rgba(255, 185, 59, 0.24),
    A500: rgba(255, 185, 59, 0.34),
    A550: rgba(255, 185, 59, 0.44),
    A600: rgba(255, 185, 59, 0.54),
    A700: rgba(255, 185, 59, 0.6),
    A800: rgba(255, 185, 59, 0.72),
    A900: rgba(55, 201, 149, 0.88),
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A25: #000,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000,
      A550: #000,
      A600: #000,
      A700: #000,
      A800: #000,
      A900: #000,
    )
  ),
  500,
  500,
  500
);

$es-light-warn: mat.define-palette(
  (
    50: #ffc3c3,
    100: #ff9b99,
    200: #ff6f68,
    300: #f44336,
    400: #c6281f,
    500: #91130d,
    600: #600502,
    700: #3c0100,
    800: #240000,
    900: #170000,
    A25: rgba(244, 67, 54, 0.02),
    A50: rgba(244, 67, 54, 0.04),
    A75: rgba(244, 67, 54, 0.06),
    A100: rgba(244, 67, 54, 0.08),
    A150: rgba(244, 67, 54, 0.1),
    A200: rgba(244, 67, 54, 0.12),
    A300: rgba(244, 67, 54, 0.16),
    A400: rgba(244, 67, 54, 0.24),
    A500: rgba(244, 67, 54, 0.34),
    A550: rgba(244, 67, 54, 0.44),
    A600: rgba(244, 67, 54, 0.54),
    A700: rgba(244, 67, 54, 0.6),
    A800: rgba(244, 67, 54, 0.72),
    A900: rgba(244, 67, 54, 0.88),
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A25: #000,
      A50: #000,
      A75: #000,
      A100: #000,
      A150: #000,
      A200: #000,
      A300: #000,
      A400: #000,
      A500: #000,
      A550: #000,
      A600: #000,
      A700: #000,
      A800: #000,
      A900: #000
    )
  ),
  500,
  500,
  500
);

$es-light-theme: (
  info:
    mat.define-palette(
      (
        50: #9fe0ff,
        100: #87d8ff,
        200: #69c3ff,
        300: #47a3ff,
        400: #277fcf,
        500: #0f5a99,
        600: #013a66,
        700: #00253f,
        800: #001726,
        900: #000f17,
        A25: rgba(71, 163, 255, 0.02),
        A50: rgba(71, 163, 255, 0.04),
        A75: rgba(71, 163, 255, 0.06),
        A100: rgba(71, 163, 255, 0.08),
        A150: rgba(71, 163, 255, 0.1),
        A200: rgba(71, 163, 255, 0.12),
        A300: rgba(71, 163, 255, 0.16),
        A400: rgba(71, 163, 255, 0.24),
        A500: rgba(71, 163, 255, 0.34),
        A550: rgba(71, 163, 255, 0.44),
        A600: rgba(71, 163, 255, 0.54),
        A700: rgba(71, 163, 255, 0.6),
        A800: rgba(71, 163, 255, 0.72),
        A900: rgba(71, 163, 255, 0.88),
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff,
          A25: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat.define-palette(
      (
        50: #9af0c9,
        100: #7becbd,
        200: #59e0ac,
        300: #37c995,
        400: #1fa377,
        500: #0c7655,
        600: #024d38,
        700: #003023,
        800: #001e17,
        900: #001712,
        A25: rgba(55, 201, 149, 0.02),
        A50: rgba(55, 201, 149, 0.04),
        A75: rgba(55, 201, 149, 0.06),
        A100: rgba(55, 201, 149, 0.08),
        A150: rgba(55, 201, 149, 0.1),
        A200: rgba(55, 201, 149, 0.12),
        A300: rgba(55, 201, 149, 0.16),
        A400: rgba(55, 201, 149, 0.24),
        A500: rgba(55, 201, 149, 0.34),
        A550: rgba(55, 201, 149, 0.44),
        A600: rgba(55, 201, 149, 0.54),
        A700: rgba(55, 201, 149, 0.6),
        A800: rgba(55, 201, 149, 0.72),
        A900: rgba(55, 201, 149, 0.88),
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff,
          A25: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000,
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat.define-palette(
      (
        50: #ffd8bb,
        100: #ffc48c,
        200: #ffad59,
        300: #ee9225,
        400: #c07218,
        500: #8b500d,
        600: #5a3206,
        700: #351d02,
        800: #1e1000,
        900: #120900,
        A25: rgba(238, 146, 37, 0.02),
        A50: rgba(238, 146, 37, 0.04),
        A75: rgba(238, 146, 37, 0.06),
        A100: rgba(238, 146, 37, 0.08),
        A150: rgba(238, 146, 37, 0.1),
        A200: rgba(238, 146, 37, 0.12),
        A300: rgba(238, 146, 37, 0.16),
        A400: rgba(238, 146, 37, 0.24),
        A500: rgba(238, 146, 37, 0.34),
        A550: rgba(238, 146, 37, 0.44),
        A600: rgba(238, 146, 37, 0.54),
        A700: rgba(238, 146, 37, 0.6),
        A800: rgba(238, 146, 37, 0.72),
        A900: rgba(238, 146, 37, 0.88),
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff,
          A25: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000,
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat.define-palette(
      (
        500: #000,
        A25: rgba(0, 0, 0, 0.02),
        A50: rgba(0, 0, 0, 0.04),
        A75: rgba(0, 0, 0, 0.06),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.24),
        A500: rgba(0, 0, 0, 0.34),
        A550: rgba(0, 0, 0, 0.44),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A25: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat.define-palette(
      (
        500: #fff,
        A25: rgba(255, 255, 255, 0.02),
        A50: rgba(255, 255, 255, 0.04),
        A75: rgba(255, 255, 255, 0.06),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.34),
        A500: rgba(255, 255, 255, 0.34),
        A550: rgba(255, 255, 255, 0.44),
        A600: rgba(255, 255, 255, 0.54),
        A700: rgba(255, 255, 255, 0.6),
        A800: rgba(255, 255, 255, 0.72),
        A900: rgba(255, 255, 255, 0.88),
        contrast: (
          500: #000,
          A25: #000,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  grayscale:
    mat.define-palette(
      (
        50: #f5f7fa,
        100: #dce1e9,
        200: #c2c9d4,
        300: #a7aebb,
        400: #888f9c,
        500: #707784,
        600: #59606d,
        700: #424954,
        800: #2b313a,
        900: #13171d,
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff
        ),
      ),
      500,
      500,
      500
    ),
  surface:
    mat.define-palette(
      (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        on: #f5f7fa,
        background: #f5f7fa,
        background2: #edf0f5,
        contrast: (
          50: #000,
          100: #000,
          200: #000,
          300: #000,
          400: #000,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000,
          on: #000,
          background: #000,
          background2: #000
        )
      ),
      500,
      500,
      500
    ),
  white:
    mat.define-palette(
      (
        500: #fff,
        A25:rgba(255, 255, 255, 0.02),
        A50: rgba(255, 255, 255, 0.04),
        A75: rgba(255, 255, 255, 0.06),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.24),
        A500: rgba(255, 255, 255, 0.34),
        A550: rgba(255, 255, 255, 0.44),
        A600: rgba(255, 255, 255, 0.54),
        A700: rgba(255, 255, 255, 0.6),
        A800: rgba(255, 255, 255, 0.72),
        A900: rgba(255, 255, 255, 0.88),
        contrast: (
          500: #000,
          A25: #000,
          A50: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  black:
    mat.define-palette(
      (
        500: #000,
        A25:rgba(0, 0, 0, 0.02),
        A50: rgba(0, 0, 0, 0.04),
        A75: rgba(0, 0, 0, 0.06),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.24),
        A500: rgba(0, 0, 0, 0.34),
        A550: rgba(0, 0, 0, 0.44),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #fff,
          A50: #000,
          A75: #000,
          A100: #000,
          A150: #000,
          A200: #000,
          A300: #000,
          A400: #000,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  overlay:
    mat.define-palette(
      (
        100: rgba(26, 26, 26, 0.06),
        200: rgba(26, 26, 26, 0.15),
        300: rgba(26, 26, 26, 0.29),
        700: rgba(26, 26, 26, 0.66),
        900: rgba(26, 26, 26, 0.94),
        contrast: (
          100: #000,
          200: #000,
          300: #000,
          700: #fff,
          900: #fff
        )
      ),
      100,
      100,
      100
    ),
  common:
    mat.define-palette(
      (
        link: #1c75e7,
        link-visited: #883df9,
        switch: #fafafa,
        contrast: (
          link: #fff,
          link-visited: #fff,
          switch: #000,
        )
      ),
      link,
      link,
      link
  )
);
