<button
  class="es-dropzone"
  matRipple
  data-testid="root"
  [ngClass]="{ 'es-dropzone_dragover': isDragover }"
  (drop)="onDrop($event)"
  (dragover)="onDragover($event)"
  (dragleave)="onDragleave($event)"
  (dragend)="onDragend($event)"
  (click)="openSelectFileDialog()"
>
  <div class="mat-h2 es-dropzone__title">
    <mat-icon *ngIf="!options.svgIcon" class="es-dropzone__choose-icon">cloud_upload</mat-icon>
    <mat-icon
      *ngIf="options.svgIcon"
      [svgIcon]="options.svgIcon"
      class="es-dropzone__choose-icon"
    ></mat-icon>
    {{ chooseText }}
  </div>
  <div class="mat-body-1 es-dropzone__description">
    {{ dragText }}
  </div>
</button>
<div class="es-dropzone__hint mat-caption">
  <ng-content *ngIf="!invalid" select="mat-hint"></ng-content>
  <ng-content *ngIf="invalid" select="mat-error"></ng-content>
</div>
<input
  #fileInput
  data-testid="input"
  class="es-dropzone__input"
  [accept]="accept"
  type="file"
  (change)="onChange($event)"
  multiple
/>
