.es-dropzone {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px dashed rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active,
  &:focus {
    background-color: rgba(0, 0, 0, 0.12);
    outline: 0;
  }

  &_dragover {
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px dotted rgba(0, 0, 0, 0.12);

    * {
      pointer-events: none;
    }
  }

  &__input {
    display: none;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  &__description {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 4px;
  }

  &__choose-icon {
    margin-right: 8px;
  }

  &__hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-top: 8px;
    padding: 0 12px;
  }
}
