.es-dropzone {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 100%;

  &:active,
  &:focus {
    outline: 0;
  }

  &_dragover {
    * {
      pointer-events: none;
    }
  }

  &__input {
    display: none;
  }

  &__heading {
    align-items: center;
    display: flex;
    letter-spacing: 0.5px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__subheading {
    letter-spacing: 0.4px;
    margin-bottom: 4px;
  }

  &__choose-icon {
    margin-right: 8px;
  }

  &__hint {
    letter-spacing: 0.4px;
    margin-top: 8px;
    padding: 0 12px;
  }
}
