@mixin es-paginator-theme($theme, $elonkit-theme) {
  $accent: map-get($theme, accent);
  $mono-a: map-get($elonkit-theme, mono-a);

  .es-paginator {
    color: mat-color($mono-a, A600);

    &__item {
      &_active {
        background-color: mat-color($accent, A100);
        color: mat-color($mono-a, A500);
        font-weight: 600;

        &.mat-icon-button:disabled {
          color: mat-color($accent);

          &:hover {
            background-color: mat-color($accent, A100);
            color: mat-color($accent);
          }
        }

        &.mat-icon-button:hover {
          color: mat-color($mono-a, A50);
        }
      }

      &:hover {
        background-color: mat-color($mono-a, A50);
      }
    }
  }

  .mat-select-arrow {
    color: mat-color($mono-a, A500);
  }
}
