.es-paginator {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;

  &__size {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
    margin-right: 24px;
  }

  &__select {
    display: block;
    margin-left: 4px;
    margin-right: 18px;

    &.mat-mdc-select {
      width: 40px;
    }
  }

  &__pages {
    margin-left: auto;
  }

  &__form {
    margin-left: 16px;
  }

  &__input {
    appearance: textfield;
    width: 64px;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    &.mat-form-field-appearance-outline .mat-form-field-flex {
      padding-bottom: 0;
      padding-left: 0.6em;
      padding-right: 0.6em;
      padding-top: 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    &.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 0;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-infix {
        border: 0;
        font-size: 12px;
        padding-bottom: 9px;
        padding-top: 14px;
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-input-element {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none !important;
        margin: 0 !important;
      }
    }
  }

  &__items {
    align-items: center;
    display: flex;
    margin-left: -12px;
  }

  &__item {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;

    &-icon {
      opacity: 0.38;
    }

    &,
    &.mat-mdc-icon-button {
      height: 32px;
      line-height: unset;
      margin: 0;
      width: 32px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 24px;
    }

    &_active {
      font-weight: 600;
    }

    &_arrow {
      padding: 0;

      &:disabled {
        opacity: 0.3;
      }
    }

    &_gap {
      align-items: center;
      color: inherit;
      display: flex;
      width: 32px;

      &:hover {
        background: none;
      }
    }

    &-icon {
      margin-top: 12px;
    }
  }
}
