@mixin es-paginator-theme($theme, $elonkit-theme) {
  $accent: map-get($theme, accent);

  .es-paginator {
    color: mat-color(map-get($elonkit-theme, mono-a), A600);

    &__item {
      &_active {
        background-color: mat-color($accent, A100);
        font-weight: 600;

        &.mat-icon-button:disabled {
          color: mat-color($accent);
        }
      }
    }
  }
}
