.es-paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;

  &__size {
    align-items: center;
    display: flex;
    margin-right: 24px;
  }

  &__select {
    display: block;
    margin-left: 4px;
    margin-right: 18px;

    &.mat-select {
      width: 40px;
    }
  }

  &__pages {
    margin-left: auto;
  }

  &__form {
    margin-left: 16px;
  }

  &__input {
    appearance: textfield;
    width: 64px;

    &.mat-form-field-appearance-outline .mat-form-field-flex {
      padding-bottom: 0;
      padding-left: 0.6em;
      padding-right: 0.6em;
      padding-top: 0;
    }

    &.mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 0;

      .mat-form-field-infix {
        border: 0;
        font-size: 12px;
        padding-bottom: 9px;
        padding-top: 14px;
      }
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }

    .mat-input-element {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none !important;
        margin: 0 !important;
      }
    }
  }

  &__items {
    align-items: center;
    display: flex;
    margin-left: -12px;
  }

  &__item {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;

    &,
    &.mat-icon-button {
      height: 32px;
      line-height: unset;
      margin: 0;
      width: 32px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 24px;
    }

    &_active {
      font-weight: 600;
    }

    &_arrow {
      padding: 0;

      &:disabled {
        opacity: 0.3;
      }
    }

    &_gap {
      background-image: url('./assets/elonkit/paginator/dots.svg');
      background-position: 50% 65%;
      background-repeat: no-repeat;
      color: transparent;
      width: 32px;
    }
  }

  .mat-caption {
    font: 400 12px/16px Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: 0.4px;
  }
}
