<div *ngIf="locale$ | async as locale" class="es-paginator">
  <div class="es-paginator__size" [ngClass]="typography">
    <span>{{ locale.paginator.labelItemsPerPage }}:</span>
    <mat-select
      class="es-paginator__select"
      size="sm"
      [aria-label]="locale.paginator.labelItemsPerPage"
      [ngModel]="pageSize"
      (ngModelChange)="onPageSizeChange($event)"
    >
      <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
        {{ size }}
      </mat-option>
    </mat-select>

    <span data-testid="es-paginator-pages" class="es-paginator__pages">
      {{ countStart }} {{'—'}} {{ countEnd }} {{ locale.paginator.labelOf }} {{ count }}
    </span>
  </div>

  <div *ngIf="count" class="es-paginator__items">
    <button
      class="es-paginator__item es-paginator__item_arrow"
      mat-icon-button
      [disabled]="page === 1"
      (click)="onPrevPage()"
      [attr.aria-label]="locale.paginator.labelPrev"
    >
      <mat-icon> chevron_left </mat-icon>
    </button>

    <ng-container *ngFor="let i of pages">
      <button
        *ngIf="i !== null"
        class="es-paginator__item"
        [ngClass]="{ 'es-paginator__item_active': i === page }"
        mat-icon-button
        [disabled]="i === page"
        (click)="onPageClick(i)"
        esTooltip='&#8592; shift &#8594;'
        [esTooltipArrow]="true"
      >
        {{ i }}
      </button>
      <div *ngIf="i === null" class="es-paginator__item es-paginator__item_gap">
        <svg class="es-paginator__item-icon" width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 1C2 1.55228 1.55228 2 1 2C0.447715 2 0 1.55228 0 1C0 0.447715 0.447715 0 1 0C1.55228 0 2 0.447715 2 1ZM7 1C7 1.55228 6.55228 2 6 2C5.44772 2 5 1.55228 5 1C5 0.447715 5.44772 0 6 0C6.55228 0 7 0.447715 7 1ZM11 2C11.5523 2 12 1.55228 12 1C12 0.447715 11.5523 0 11 0C10.4477 0 10 0.447715 10 1C10 1.55228 10.4477 2 11 2Z" fill="currentColor" fill-opacity="0.38"/>
        </svg>
        <!-- <span>&hellip;</span> -->
      </div>
    </ng-container>

    <button
      class="es-paginator__item es-paginator__item_arrow"
      mat-icon-button
      [disabled]="page === pagesCount"
      (click)="onNextPage()"
      [attr.aria-label]="locale.paginator.labelNext"
    >
      <mat-icon> chevron_right </mat-icon>
    </button>

    <form class="es-paginator__form" novalidate (submit)="onSubmit($event)">
      <mat-form-field class="es-paginator__input" appearance="outline">
        <input
          [attr.aria-label]="locale.paginator.labelGoTo"
          matInput
          [(ngModel)]="pageGoTo"
          name="pageGoTo"
          type="number"
          min="1"
          [max]="pagesCount"
          placeholder="{{ page }} {{ locale.paginator.labelPage }}"
          (onKeyPress)="onKeyPress()"
        />
      </mat-form-field>
    </form>
  </div>
</div>
