<div *ngIf="locale$ | async as locale" class="es-audio-player">
  <button
    mat-icon-button
    class="es-audio-player__button"
    disableRipple="true"
    [attr.aria-label]="
      this.audio.paused ? locale.audioPlayer.labelPlay : locale.audioPlayer.labelPause
    "
    [disabled]="!isAudioDataLoaded"
    (click)="onPlayback()"
  >
    <mat-icon svgIcon="es-audio-player:{{ this.audio.paused ? 'play' : 'pause' }}"></mat-icon>
  </button>

  <es-audio-player-time-slider
    class="es-audio-player__time-slider"
    [audioCurrentTime]="audioCurrentTime"
    [duration]="audio.duration"
    (timeUpdated)="onSeekTo($event)"
  ></es-audio-player-time-slider>

  <label
    class="es-audio-player__label es-caption"
    [ngClass]="{ 'es-audio-player__label-prefix': isDisplayedLeftTime }"
    (click)="changeDisplayedTime()"
  >
    {{ displayedTime }}</label
  >

  <es-audio-player-volume
    class="es-audio-player__volume"
    [volume]="volume"
    (volumeChanged)="onSetVolume($event)"
  ></es-audio-player-volume>

  <es-audio-player-options
    class="es-audio-player__options"
    [src]="audio?.src"
    [rates]="rates"
    (playbackRateChanged)="onSetPlaybackRate($event)"
    (downloadClicked)="audioDownload.emit()"
  ></es-audio-player-options>
</div>
