@import './components/audio-player-options/audio-player-options.component.theme';
@import './components/audio-player-time-slider/audio-player-time-slider.component.theme';
@import './components/audio-player-volume/audio-player-volume.component.theme';

@mixin es-audio-player-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);

  @include es-audio-player-options-theme($theme, $elonkit-theme);
  @include es-audio-player-time-slider-theme($theme, $elonkit-theme);
  @include es-audio-player-volume-theme($theme, $elonkit-theme);

  .es-audio-player {
    background-color: mat-color($mono-a, A75);

    &__button.mat-icon-button {
      color: mat-color($mono-a, A600);
    }

    &__label {
      color: mat-color($mono-a, A800);
    }
  }
}
