@mixin es-colors-story-theme($theme, $elonkit-theme) {
  .es-colors-story {
    &__palette {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &__title {
      margin-bottom: 4px;
      margin-left: 8px;
      margin-top: 0;
    }

    &__colors {
      display: flex;
    }

    &__color {
      $palettes: (
        primary: (
          50 100 200 300 400 500 600 700 800 900 A50 A75 A100 A150 A200 A300 A400 A500
        ),
        accent: (
          50 100 200 300 400 500 600 700 800 900 A50 A75 A100 A150 A200 A300 A400 A500
        ),
        warn: (
          500 A50 A75 A100 A150 A200 A300 A400 A500
        )
      );

      $es-palettes: (
        info: (
          500 A50 A75 A100 A150 A200 A300 A400 A500
        ),
        positive: (
          500 A50 A75 A100 A150 A200 A300 A400 A500
        ),
        attention: (
          500 A50 A75 A100 A150 A200 A300 A400 A500
        ),
        mono-a: (
          500 A50 A100 A150 A200 A300 A400 A500 A600 A700 A800 A900
        ),
        mono-b: (
          500 A50 A100 A150 A200 A300 A400 A500 A600 A700 A800 A900
        ),
        grayscale: (
          50 100 200 300 400 500 600 700 800 900
        ),
        surface: (
          0 1 2 3 4 6 8 12 16 24 on
        ),
        white: (
          500 A50 A100 A150 A200 A300 A400 A500 A600 A700 A800 A900
        ),
        black: (
          500 A50 A100 A150 A200 A300 A400 A500 A600 A700 A800 A900
        ),
        other: (
          background overlay-gallery overlay-modal overlay-filter link link-visited switch
        )
      );

      flex: 1;
      padding: 8px;
      text-align: center;

      @each $palette, $hues in $palettes {
        &_#{'' + $palette} {
          @each $hue in $hues {
            &_#{$hue} {
              background-color: mat-color(map-get($theme, $palette), $hue);
              color: mat-contrast(map-get($theme, $palette), $hue);
            }
          }
        }
      }

      @each $palette, $hues in $es-palettes {
        &_#{'' + $palette} {
          @each $hue in $hues {
            &_#{$hue} {
              background-color: mat-color(map-get($elonkit-theme, $palette), $hue);
              color: mat-contrast(map-get($elonkit-theme, $palette), $hue);
            }
          }
        }
      }
    }
  }
}
