.es-alert-actions {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-content: flex-start;
  margin-bottom: -6px;
  margin-left: 34px;
  margin-top: 8px;

  .mat-button-base {
    line-height: 32px;
    padding: 0 8px;
    text-transform: uppercase;
  }
}
