.es-alert-actions {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: flex-start;
  margin-bottom: 8px;
  margin-left: 32px;
  margin-top: 12px;

  .mat-mdc-button-base {
    line-height: 32px;
    padding: 0 8px;
    text-transform: uppercase;
  }
}
