.es-alert-actions {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-content: flex-start;
  margin-bottom: -6px;
  margin-left: 34px;
  margin-top: 8px;

  .mat-button-base {
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 8px;
    text-transform: uppercase;
  }

  .mat-flat-button {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
