@mixin es-alert-actions-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);

  .es-alert-actions {
    .mat-mdc-button-base {
      color: mat.get-color-from-palette($mono-a, A700);
    }

    .mat-mdc-unelevated-button {
      background-color: mat.get-color-from-palette($mono-a, A100);
    }
  }
}
