:host {
  display: block;
}

.es-breadcrumbs {
  align-items: center;
  display: flex;
  overflow: hidden;

  &__breadcrumb {
    &:last-child {
      margin-right: 0;
      min-width: 0;
    }
  }

  &__separator {
    color: rgba(0, 0, 0, 0.38);
  }

  &__width {
    height: auto;
    left: -1000px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: -1;
  }
}
