.es-breadcrumbs {
  align-items: center;
  display: flex;
  overflow: hidden;

  &__breadcrumb {
    &:last-child {
      margin-right: 0;
      min-width: 0;
    }
  }

  &__separator {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    margin: 0 -4px;
    width: 24px;

    &_single {
      align-items: center;
      display: flex;
      margin-left: 8px !important;
      width: 9px;
    }
  }

  &__width {
    height: auto;
    left: -1000px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: -1;
  }

  &__link-back {
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 24px;
    min-width: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 200ms;

    .mat-icon {
      align-items: baseline;
      display: flex;
      height: 16px;
      height: 8px;
      margin-right: 5px;
      width: 9px;
    }
  }
}
