.es-breadcrumbs {
  align-items: center;
  display: flex;
  overflow: hidden;

  &__breadcrumb {
    &:last-child {
      margin-right: 0;
      min-width: 0;
    }
  }

  &__separator {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    margin: 0 -4px;
    width: 24px;

    &_single {
      align-items: center;
      display: flex;
      margin-left: 8px !important;
      margin-right: 8px;
      width: 1px;
    }
  }

  &__width {
    height: auto;
    left: -1000px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: -1;
  }

  &__link-back {
    align-items: center;
    background-color: unset;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    height: 24px;
    min-width: 0;
    outline: unset;
    overflow: hidden;
    padding: 2px 4px;
    position: relative;
    text-decoration: none;
    transition: 200ms;
  }

  &__back-icon {
    align-items: baseline;
    display: flex;
    margin-right: 5px;
  }
}
