@import './components/breadcrumbs-breadcrumb/breadcrumbs-breadcrumb.component.theme';
@import './components/breadcrumbs-collapse/breadcrumbs-collapse.component.theme';

@mixin es-breadcrumbs-theme($theme, $elonkit-theme) {
  @include es-breadcrumbs-breadcrumb-theme($theme, $elonkit-theme);
  @include es-breadcrumbs-collapse-theme($theme, $elonkit-theme);

  .es-breadcrumbs {
    &__separator {
      color: mat-color(map-get($elonkit-theme, mono-a), A500);

      &_single {
        background-color: mat-color(map-get($elonkit-theme, mono-a), A100);
      }
    }

    &__link-back {
      border-color: mat-color(map-get($elonkit-theme, mono-a), A500);
      color: mat-color(map-get($elonkit-theme, mono-a), A900);

      &:hover,
      &:focus {
        background-color: mat-color(map-get($elonkit-theme, mono-a), A50);
      }
    }
  }
}
