<nav #navigation class="es-breadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
    <ng-container *ngIf="!collapseIndexes.includes(i)">
      <es-breadcrumbs-breadcrumb
        [breadcrumb]="breadcrumb"
        [last]="i === breadcrumbs.length - 1"
        [typography]="typography"
        class="es-breadcrumbs__breadcrumb"
      ></es-breadcrumbs-breadcrumb>
      <ng-container *ngIf="i < breadcrumbs.length - 1">
        <ng-container *ngTemplateOutlet="separator"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="i === 1 && collapseIndexes.length">
      <es-breadcrumbs-collapse [breadcrumbs]="collapseBreadcrumbs"></es-breadcrumbs-collapse>
      <ng-container *ngTemplateOutlet="separator"></ng-container>
    </ng-container>
  </ng-container>
</nav>

<ng-template #separator>
  <ng-container *ngIf="!separatorTemplate">
    <mat-icon class="es-breadcrumbs__separator">
      chevron_right
    </mat-icon>
  </ng-container>
  <ng-container *ngIf="separatorTemplate">
    <ng-container *ngTemplateOutlet="separatorTemplate"></ng-container>
  </ng-container>
</ng-template>

<div #width class="es-breadcrumbs__width mat-caption" aria-hidden="true"></div>
