<div class="es-action-heading">
  <ng-container [ngSwitch]="type">
    <h1 *ngSwitchCase="'h1'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h1>
    <h2 *ngSwitchCase="'h2'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h2>
    <h3 *ngSwitchCase="'h3'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h3>
    <h4 *ngSwitchCase="'h4'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h4>
    <h5 *ngSwitchCase="'h5'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h5>
    <h6 *ngSwitchCase="'h6'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h6>
  </ng-container>

  <button
    class="es-action-heading__action"
    type="button"
    mat-mini-fab
    [color]="color"
    [attr.aria-label]="actionLabel"
    (click)="action.emit(true)"
  >
    <mat-icon [svgIcon]="actionSvgIcon">{{ actionIcon || '' }}</mat-icon>
  </button>
</div>
