<div class="es-action-heading">
  <h1 *ngIf="type === 'h1'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h1>
  <h2 *ngIf="type === 'h2'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h2>
  <h3 *ngIf="type === 'h3'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h3>
  <h4 *ngIf="type === 'h4'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h4>
  <h5 *ngIf="type === 'h5'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h5>
  <h6 *ngIf="type === 'h6'" class="es-action-heading__title" [ngClass]="typography">{{ text }}</h6>

  <button
    class="es-action-heading__action"
    type="button"
    mat-mini-fab
    [color]="color"
    [attr.aria-label]="actionLabel"
    (click)="action.emit(true)"
  >
    <mat-icon [svgIcon]="actionSvgIcon">{{ actionIcon || '' }}</mat-icon>
  </button>
</div>
