.es-action-heading {
  align-items: center;
  display: flex;

  &__title {
    letter-spacing: 0.25px;
    margin: 0 16px 0 0;
  }

  &__action {
    &.mat-mini-fab {
      box-shadow: none;

      &:active {
        box-shadow: none !important;
      }
    }
  }
}
