@mixin es-action-heading-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);
  $primary: map-get($theme, primary);

  .es-action-heading {
    &__title {
      color: mat.get-color-from-palette($mono-a, A900);
    }
  }
}
