:host {
  align-items: center;
  display: flex;
}

.title {
  letter-spacing: 0.25px;
  margin-right: 16px;
}

h1 .title {
  @media (min-width: 1025px) {
    font-size: 34px;
  }
}

.add-button {
  &.mat-mini-fab {
    box-shadow: none;

    &:active {
      box-shadow: none !important;
    }
  }
}
