<form class="form" [formGroup]="form">
  <es-dropzone
    chooseText="ВЫБЕРИТЕ ФАЙЛЫ"
    dragText=" или перетащите файлы в эту область (не более 50 мб)"
    formControlName="docs"
    [options]="{
      maxSize: 50,
      accept:
        '.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
      application/pdf, image/jpg,image/jpeg,image/png',
      type: 'binary'
    }"
  >
    <mat-hint>Пример текста подсказки</mat-hint>
  </es-dropzone>
</form>
