@import './ui/alert/alert.component.theme';
@import './ui/breadcrumbs/breadcrumbs.component.theme';
@import './ui/dropzone/dropzone.component.theme';
<<<<<<< HEAD
@import './ui/dropzone/dropzone.component.theme';
=======
@import './ui/empty-state/empty-state.component.theme';
>>>>>>> dec129a (feat: add dark mode for storybook)
@import './ui/inline-form-field/inline-form-field.component.theme';
@import './ui/paginator/paginator.component.theme';
@import './ui/tooltip/tooltip.component.theme';

$elonkit-default-theme: (
  info:
    mat-palette(
      (
        500: #47a3ff,
        A50: rgba(71, 163, 255, 0.04),
        A75: rgba(71, 163, 255, 0.06),
        A100: rgba(71, 163, 255, 0.08),
        A150: rgba(71, 163, 255, 0.1),
        A200: rgba(71, 163, 255, 0.12),
        A300: rgba(71, 163, 255, 0.16),
        A400: rgba(71, 163, 255, 0.24),
        A500: rgba(71, 163, 255, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat-palette(
      (
        500: #37c995,
        A50: rgba(55, 201, 149, 0.04),
        A75: rgba(55, 201, 149, 0.06),
        A100: rgba(55, 201, 149, 0.08),
        A150: rgba(55, 201, 149, 0.1),
        A200: rgba(55, 201, 149, 0.12),
        A300: rgba(55, 201, 149, 0.16),
        A400: rgba(55, 201, 149, 0.24),
        A500: rgba(55, 201, 149, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat-palette(
      (
        500: #ee9225,
        A50: rgba(238, 146, 37, 0.04),
        A75: rgba(238, 146, 37, 0.06),
        A100: rgba(238, 146, 37, 0.08),
        A150: rgba(238, 146, 37, 0.1),
        A200: rgba(238, 146, 37, 0.12),
        A300: rgba(238, 146, 37, 0.16),
        A400: rgba(238, 146, 37, 0.24),
        A500: rgba(238, 146, 37, 0.32),
        contrast: (
          500: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat-palette(
      (
        500: #000,
        A50: rgba(0, 0, 0, 0.04),
        A100: rgba(0, 0, 0, 0.08),
        A150: rgba(0, 0, 0, 0.1),
        A200: rgba(0, 0, 0, 0.12),
        A300: rgba(0, 0, 0, 0.16),
        A400: rgba(0, 0, 0, 0.22),
        A500: rgba(0, 0, 0, 0.38),
        A600: rgba(0, 0, 0, 0.54),
        A700: rgba(0, 0, 0, 0.6),
        A800: rgba(0, 0, 0, 0.72),
        A900: rgba(0, 0, 0, 0.88),
        contrast: (
          500: #000,
          A50: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat-palette(
      (
        500: #fff,
        A50: rgba(255, 255, 255, 0.04),
        A100: rgba(255, 255, 255, 0.08),
        A150: rgba(255, 255, 255, 0.1),
        A200: rgba(255, 255, 255, 0.12),
        A300: rgba(255, 255, 255, 0.16),
        A400: rgba(255, 255, 255, 0.22),
        A500: rgba(255, 255, 255, 0.34),
        A600: rgba(255, 255, 255, 0.52),
        A700: rgba(255, 255, 255, 0.58),
        A800: rgba(255, 255, 255, 0.7),
        A900: rgba(255, 255, 255, 0.86),
        contrast: (
          500: #000,
          A50: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    )
);

@mixin elonkit-theme($theme, $elonkit-theme: $elonkit-default-theme) {
  @include es-alert-theme($theme, $elonkit-theme);
  @include es-dropzone-theme($theme, $elonkit-theme);
  @include es-dropzone-theme($theme, $elonkit-theme);
  @include es-inline-form-field-theme($theme, $elonkit-theme);
  @include es-paginator-theme($theme, $elonkit-theme);
  @include es-tooltip-theme($theme, $elonkit-theme);
}
