<mat-spinner *ngIf="isLoading" class="image-modal__loading"></mat-spinner>
<div class="image-modal">
  <div
    *ngIf="!isLoading"
    class="image-modal__image"
    [style.backgroundImage]="getSanitizedImage()"
  ></div>
</div>
<div *ngIf="!isLoading && deleteImageFn" class="actions">
  <div mat-ripple (click)="deleteImage()" class="actions__action">
    <mat-icon class="actions__delete-icon">delete</mat-icon>
    Delete
  </div>
</div>
<button (click)="closeImageDialog()" mat-icon-button class="image-modal__close">
  <mat-icon>close</mat-icon>
</button>
