@mixin es-breadcrumbs-breadcrumb-theme($theme, $elonkit-theme) {
  .es-breadcrumbs-breadcrumb {
    $root: '.es-breadcrumbs-breadcrumb';

    &__link {
      color: mat.get-color-from-palette(map-get($elonkit-theme, mono-a), A900);

      &_last {
        color: mat.get-color-from-palette(map-get($elonkit-theme, mono-a), A500);
      }

      &:not(&_last) {
        &:hover,
        &:focus {
          background-color: mat.get-color-from-palette(map-get($elonkit-theme, mono-a), A50);
        }
      }
    }

    &__menu {
      color: mat.get-color-from-palette(map-get($elonkit-theme, mono-a), A500);

      &.mat-mdc-icon-button {
        &:hover,
        &:focus {
          background-color: mat.get-color-from-palette(map-get($elonkit-theme, mono-a), A50);
        }
      }
    }
  }
}
