<button
  type="button"
  [matMenuTriggerFor]="menu"
  matRipple
  [attr.aria-label]="locale.labelMore"
  class="es-breadcrumbs-collapse"
>
  <mat-icon>
    more_horiz
  </mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="below">
  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    <a *ngIf="!breadcrumb.data.breadcrumbs" mat-menu-item [routerLink]="[breadcrumb.path]">
      <mat-icon *ngIf="breadcrumb.data.icon">{{ breadcrumb.data.icon }}</mat-icon>
      {{ breadcrumb.data.label }}
    </a>
    <ng-container *ngIf="breadcrumb.data.breadcrumbs">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon *ngIf="breadcrumb.data.icon">{{ breadcrumb.data.icon }}</mat-icon>
        {{ breadcrumb.data.label }}
      </button>
      <mat-menu #subMenu="matMenu">
        <a
          *ngFor="let item of breadcrumb.data.breadcrumbs"
          mat-menu-item
          [routerLink]="[breadcrumb.parentPath, item.path]"
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-menu>
