.es-breadcrumbs-collapse {
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 24px;
  outline: 0;
  padding: 0;
  transition: 200ms;

  &:hover,
  &:focus {
    outline: 0;
  }

  &__more {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  &__menu {
    .mat-menu-content:not(:empty) {
      padding-bottom: 4px;
      padding-top: 4px;
    }

    .mat-menu-item {
      align-items: center;
      display: flex;
      height: 32px;
      padding-left: 16px;
    }
  }
}
