$div-width: 40;
$badge-size: 16;

.es-badge {
  position: relative;
  width: fit-content;

  > :nth-child(2) {
    display: block;
    mask: radial-gradient(
      circle at calc(var(--childElement) - var(--right) - var(--borderSize))
        calc(var(--childElement) - var(--bottom) - var(--borderSize)),
      transparent var(--transparent),
      #fff 0
    );
  }

  &__content {
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
  }

  &__img {
    height: 96%;
    object-fit: cover;
    width: 96%;
  }

  &__count {
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
  }
}
