.es-file-list {
  margin-top: 24px;

  &__file {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__icon-wrapper {
    margin-right: 12px;
  }

  &__icon {
    height: 48px;
    width: 36px;
  }

  &__title {
    display: flex;
  }

  &__remove.mat-icon-button {
    height: 22px;
    line-height: 22px;
    width: 22px;
  }

  &__remove &__remove-icon.mat-icon {
    color: rgba(0, 0, 0, 0.38);
    font-size: 20px;
    height: 20px;
    line-height: 19px;
    width: 20px;
  }

  &__name {
    margin-bottom: 2px;
    margin-right: 8px;
  }

  &__subtitle {
    align-items: center;
    color: rgba(0, 0, 0, 0.38);
    display: flex;

    &-point {
      margin: 0 8px;
    }
  }
}
