<div *ngIf="files && files.length" class="es-file-list">
  <ng-container *ngFor="let file of files; let i = index">
    <ng-container *ngIf="!hideImages || (hideImages && !fileTypeValid(file))">
      <div *ngIf="!file.deleted" class="es-file-list__file" data-testid="file">
        <div class="es-file-list__icon-wrapper">
          <mat-icon *ngIf="!canDownload" class="es-file-list__icon" svgIcon="file"></mat-icon>
          <mat-icon
            *ngIf="canDownload"
            class="es-file-list__icon es-file-list__icon_download"
            svgIcon="file_download"
            [attr.aria-label]="locale.labelDownload"
            (click)="downloadFile(file)"
          ></mat-icon>
        </div>
        <div class="es-file-list__info">
          <div class="es-file-list__title">
            <div class="mat-body-1 es-file-list__name">{{ file.name }}</div>
            <button
              *ngIf="canRemove"
              type="button"
              (click)="removeFile({ file: file, index: i })"
              mat-icon-button
              class="es-file-list__remove"
              [attr.aria-label]="locale.labelRemove"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="es-file-list__subtitle">
            <div class="mat-body-1 es-file-list__subtitle-size">{{ getFileSize(file) }}</div>
            <ng-container *ngIf="file.updatedAt">
              <div class="es-file-list__subtitle-point">•</div>
              <div class="mat-body-1 es-file-list__subtitle-datetime">
                {{ file.updatedAt | date: 'dd MMM' | lowercase }} at
                {{ file.updatedAt | date: 'HH:mm:ss' }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
