@mixin light-theme() {
  $primary: mat-palette(
    (
      50: #e8eaf6,
      100: #c5cae9,
      200: #9fa8da,
      300: #7986cb,
      400: #5c6bc0,
      500: #3f51b5,
      600: #3949ab,
      700: #303f9f,
      800: #283593,
      900: #1a237e,
      A50: rgba(63, 81, 181, 0.04),
      A75: rgba(63, 81, 181, 0.06),
      A100: rgba(63, 81, 181, 0.08),
      A150: rgba(63, 81, 181, 0.1),
      A200: rgba(63, 81, 181, 0.12),
      A300: rgba(63, 81, 181, 0.16),
      A400: rgba(63, 81, 181, 0.24),
      A500: rgba(63, 81, 181, 0.32),
      contrast: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A50: #fff,
        A75: #fff,
        A100: #fff,
        A150: #fff,
        A200: #fff,
        A300: #fff,
        A400: #fff,
        A500: #fff
      )
    )
  );

  $accent: mat-palette(
    (
      50: #e0f2f1,
      100: #b2dfdb,
      200: #80cbc4,
      300: #4db6ac,
      400: #26a69a,
      500: #009688,
      600: #00897b,
      700: #00796b,
      800: #00695c,
      900: #005046,
      A50: rgba(0, 150, 136, 0.04),
      A75: rgba(0, 150, 136, 0.06),
      A100: rgba(0, 150, 136, 0.08),
      A150: rgba(0, 150, 136, 0.1),
      A200: rgba(0, 150, 136, 0.12),
      A300: rgba(0, 150, 136, 0.16),
      A400: rgba(0, 150, 136, 0.24),
      A500: rgba(0, 150, 136, 0.32),
      contrast: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A50: #fff,
        A75: #fff,
        A100: #fff,
        A150: #fff,
        A200: #fff,
        A300: #fff,
        A400: #fff,
        A500: #fff
      )
    )
  );

  $warn: mat-palette(
    (
      500: #f44336,
      A50: rgba(244, 67, 54, 0.04),
      A75: rgba(244, 67, 54, 0.06),
      A100: rgba(244, 67, 54, 0.08),
      A150: rgba(244, 67, 54, 0.1),
      A200: rgba(244, 67, 54, 0.12),
      A300: rgba(244, 67, 54, 0.16),
      A400: rgba(244, 67, 54, 0.24),
      A500: rgba(244, 67, 54, 0.32),
      contrast: (
        500: #fff,
        A50: #fff,
        A75: #fff,
        A100: #fff,
        A150: #fff,
        A200: #fff,
        A300: #fff,
        A400: #fff,
        A500: #fff
      )
    ),
    500,
    500,
    500
  );

  $theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
  @include es-theme($theme);

  // color: mat-color(map-get($theme, foreground), text);
}
