@mixin preview-theme-dark() {
  $theme: mat-dark-theme($es-dark-primary, $es-dark-accent, $es-dark-warn);

  $es-theme: es-dark-theme(
    (
      colors: $es-dark-theme,
      typography: $es-typography
    )
  );

  @include angular-material-theme($theme);

  @include es-theme($theme, $es-theme);
  @include es-overrides($es-theme);
  @include es-typography($es-theme);

  @include es-colors-story-theme($theme, $es-theme);
  @include es-typography-story-theme($theme, $es-theme);

  color: mat-color(map-get($theme, foreground), text);
}
