@import '~@angular/material/theming';
// In production it's "@elonsoft/elonkit/theme"
@import '../src/theme';
@import '../src/ui/colors/colors.component.theme';

@import './preview-theme-dark';
@import './preview-theme-light';

@include mat-core();

@include light-theme();

// In production it's "@elonsoft/elonkit/theme"
@import '../src/theme';
@include elonkit-theme($theme);

body {
  padding: 8px !important;
}

.dark {
  @include dark-theme();
}
