@use 'sass:math';

$es-tooltip-max-width: 250px;
$es-tooltip-margin: 12px;

.es-tooltip-panel {
  // The overlay reference updates the pointer-events style property directly on the HTMLElement
  // depending on the state of the overlay. For tooltips the overlay panel should never enable
  // pointer events. To overwrite the inline CSS from the overlay reference `!important` is needed.
  pointer-events: none !important;
}

.es-tooltip {
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin: $es-tooltip-margin;
  max-width: $es-tooltip-max-width;
  padding: 8px;
  position: relative;

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    $base: 12; // Triangle base
    $height: 8; // Triangle height

    $size: math.round($base / math.sqrt(2)); // Square side size
    $scale: $height / ($base / 2);
    $offset: -#{$size / 2}px;

    border-bottom-right-radius: 2px;
    height: #{$size}px;
    position: absolute;
    width: #{$size}px;

    &_bottom {
      bottom: $offset;
      transform: scaleY($scale) translateX(-50%) rotate(45deg);
    }

    &_left {
      left: $offset;
      transform: scaleX($scale) translateY(-50%) rotate(135deg);
    }

    &_top {
      top: $offset;
      transform: scaleY($scale) translateX(-50%) rotate(225deg);
    }

    &_right {
      right: $offset;
      transform: scaleX($scale) translateY(-50%) rotate(315deg);
    }
  }
}
