$es-tooltip-max-width: 250px;
$es-tooltip-margin: 14px;

.es-tooltip-panel {
  // The overlay reference updates the pointer-events style property directly on the HTMLElement
  // depending on the state of the overlay. For tooltips the overlay panel should never enable
  // pointer events. To overwrite the inline CSS from the overlay reference `!important` is needed.
  pointer-events: none !important;
}

.es-tooltip {
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin: $es-tooltip-margin;
  max-width: $es-tooltip-max-width;
  padding: 8px;
  position: relative;

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    $width: 12;
    $height: 8;

    border-bottom-right-radius: 3px;
    height: #{$width}px;
    margin: 0;
    position: absolute;
    width: #{$width}px;

    &_bottom {
      bottom: -#{$width / 2}px;
      transform: scaleY($height / ($width / 2)) translateX(-50%) rotate(45deg);
    }

    &_left {
      left: -#{$width / 2}px;
      transform: scaleX($height / ($width / 2)) translateY(-50%) rotate(135deg);
    }

    &_top {
      top: -#{$width / 2}px;
      transform: scaleY($height / ($width / 2)) translateX(-50%) rotate(225deg);
    }

    &_right {
      right: -#{$width / 2}px;
      transform: scaleX($height / ($width / 2)) translateY(-50%) rotate(315deg);
    }
  }
}
