$mat-tooltip-handset-font-size: 16px;

@mixin es-tooltip-theme($theme, $elonkit-theme) {
  .es-tooltip {
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.54);
    color: #fff;

    &__arrow {
      background: linear-gradient(-45deg, rgba(0, 0, 0, 0.54) 50%, transparent 50%);
    }
  }
}
