@mixin es-tooltip-color($background, $color, $blur: false) {
  background: $background;
  color: $color;

  @if $blur {
    backdrop-filter: blur($blur);
  }

  // stylelint-disable-next-line selector-class-pattern
  .es-tooltip__arrow {
    background: linear-gradient(-45deg, $background 50%, transparent 50%);
  }
}

@mixin es-tooltip-theme($theme, $es-theme) {
  .es-tooltip {
    @include es-tooltip-color(
      mat-color(map-get($es-theme, mono-a), A600),
      mat-color(map-get($es-theme, mono-b), 500),
      40px
    );
  }
}
