@mixin es-autocomplete-multiple-theme($theme, $elonkit-theme) {
  $accent: map-get($theme, accent);
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);
  $primary: map-get($theme, primary);
  $surface: map-get($elonkit-theme, surface);
  $warn: map-get($theme, warn);

  .es-autocomplete-multiple {
    &__chip {
      &.mat-standard-chip {
        background-color: mat.get-color-from-palette($mono-a, A100);
        color: mat.get-color-from-palette($mono-a, A900);

        .mat-chip-remove {
          color: mat.get-color-from-palette($mono-a, A500);
        }
      }
    }

    &__count {
      background-color: mat.get-color-from-palette($mono-a, A50);
      color: mat.get-color-from-palette($mono-a, A600);
    }

    &__clear {
      color: mat.get-color-from-palette($mono-a, A400);
    }

    &__panel {
      background-color: mat.get-color-from-palette($surface, 4);
    }

    &__menu {
      border-bottom-color: mat.get-color-from-palette($mono-a, A100);
    }

    &__menu-button {
      color: mat.get-color-from-palette($mono-a, A700);
    }

    &__button-toggle {
      color: mat.get-color-from-palette($mono-a, A600);

      &.mat-button-toggle-appearance-standard {
        border-color: mat.get-color-from-palette($mono-a, A100);

        &.mat-button-toggle-checked {
          background: mat.get-color-from-palette($mono-b, 500);
          border-color: mat.get-color-from-palette($primary, 300);
          color: mat.get-color-from-palette($mono-a, A900);
        }
      }
    }

    &__option {
      &_selected {
        background-color: mat.get-color-from-palette($accent, A100);

        .mat-pseudo-checkbox-checked {
          background-color: mat.get-color-from-palette($accent, 300);
        }
      }
    }

    &__divider {
      color: mat.get-color-from-palette($mono-a, A100);
    }

    &__footer {
      color: mat.get-color-from-palette($mono-a, A600);
    }
  }

  .es-autocomplete-multiple-search {
    border-bottom-color: mat.get-color-from-palette($mono-a, A100);

    &__input {
      color: mat.get-color-from-palette($mono-a, A900);

      &::placeholder {
        color: mat.get-color-from-palette($mono-a, A400);
      }
    }

    &__icon {
      color: mat.get-color-from-palette($mono-a, A500);
    }

    &__clear.mat-icon-button {
      color: mat.get-color-from-palette($mono-a, A400);

      &:hover,
      &:focus {
        color: mat.get-color-from-palette($warn, 500);
      }

      .mat-button-focus-overlay {
        background-color: mat.get-color-from-palette($warn, A50);
      }
    }
  }
}
