.es-autocomplete-multiple {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 18px;
  height: 20px;
  justify-content: space-between;
  width: 100%;

  &__value {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    padding-right: 4px;
    white-space: nowrap;
  }

  &__arrow.mat-icon-button {
    height: 18px !important;
    line-height: 18px;
    width: 18px !important;

    .mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }

  &__panel {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform-origin: center top;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__option {
    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;
    }

    &.mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
      padding-left: 8px;
    }

    .mat-list-text {
      white-space: nowrap;
    }
  }

  &__options {
    max-height: 208px;
    overflow: auto;

    &.mat-list-base {
      padding: 0;
    }
  }

  &__menu {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    display: flex;
    height: 32px;
    padding-left: 8px;

    &-button {
      height: 32px;

      &.mat-button {
        border-radius: 0;
        line-height: 32px;
        padding: 0 8px;
      }
    }
  }

  &__footer {
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
  }
}

.es-autocomplete-search {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  padding: 10px 12px;

  &__icon {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__input {
    background: none;
    border: 0;
    display: block;
    height: 24px;
    outline: none;
    padding: 0;
  }

  &__clear.mat-icon-button {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24px !important;
    justify-content: center;
    line-height: 24px;
    margin-left: 8px;
    width: 24px !important;

    .mat-icon {
      display: flex;
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}
