.es-empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 24px;

  &__image {
    margin-bottom: 12px;

    &.mat-icon {
      display: block;
      height: 56px;
      width: 56px;
    }
  }

  &__heading {
    margin-bottom: 2px;
    text-align: center;
  }

  &__subheading {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .mat-stroked-button {
    line-height: 46px;
  }
}
