name: Release
on:
  push:
    branches:
      - develop
jobs:
  storybook:
    name: Storybook
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install dependencies
        run: yarn install
      - name: Lint code
        run: yarn run lint:tslint
      - name: Lint styles
        run: yarn run lint:stylelint
      - name: Test
        run: yarn run test
      - name: Build
        run: yarn workspace @elonkit/angular run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.1.3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist/elonkit-storybook
        env:
          HUSKY_SKIP_INSTALL: 1
          HUSKY_SKIP_HOOKS: 1
