<ng-container *ngIf="locale$ | async as locale">
  <button
    mat-icon-button
    class="es-audio-player-options__button"
    disableRipple="true"
    esTooltip
    [esTooltipContent]="content"
    esTooltipClass="es-audio-player-options__tooltip"
    esTooltipArrow
    esTooltipInteractive
    [attr.aria-label]="locale.audioPlayer.labelOptions"
  >
    <mat-icon svgIcon="es-audio-player:more-vert"></mat-icon>
  </button>

  <ng-template #content>
    <div class="es-audio-player-options__menu" [style.display]="isRatePage ? 'none' : 'flex'">
      <button
        class="es-audio-player-options__menu-item"
        mat-button
        disableRipple
        [attr.aria-label]="locale.audioPlayer.labelRate"
        (click)="isRatePage = !isRatePage"
      >
        <div class="es-audio-player-options__item-content es-body-100">
          <mat-icon
            class="es-audio-player-options__icon"
            svgIcon="es-audio-player:speed"
          ></mat-icon>

          <div class="es-audio-player-options__label-container">
            <label>{{ locale.audioPlayer.labelRate }}</label>
            <label class="es-audio-player-options__sub-label es-caption">{{
              currentRate === 1 ? locale.audioPlayer.labelNormal : currentRate
            }}</label>
          </div>

          <mat-icon
            class="es-audio-player-options__icon_dark es-audio-player-options__icon_ml-auto"
            svgIcon="es-audio-player:chevron-right"
          ></mat-icon>
        </div>
      </button>
      <button
        mat-button
        class="es-audio-player-options__menu-item"
        disableRipple
        [disabled]="!src"
        [attr.aria-label]="locale.audioPlayer.labelDownload"
        (click)="downloadClicked.emit()"
      >
        <div class="es-audio-player-options__item-content es-body-100">
          <mat-icon
            class="es-audio-player-options__icon"
            svgIcon="es-audio-player:download"
          ></mat-icon>

          <label class="es-audio-player-options__label_ml-18">{{
            locale.audioPlayer.labelDownload
          }}</label>
        </div>
      </button>
    </div>

    <div class="es-audio-player-options__menu" [style.display]="!isRatePage ? 'none' : 'flex'">
      <button
        mat-button
        class="es-audio-player-options__menu-item"
        disableRipple
        [attr.aria-label]="locale.audioPlayer.labelBack"
        (click)="isRatePage = !isRatePage"
      >
        <div class="es-audio-player-options__item-content es-body-100">
          <mat-icon
            class="es-audio-player-options__icon"
            svgIcon="es-audio-player:chevron-left"
          ></mat-icon>

          <label class="es-audio-player-options__label_ml-18">{{
            locale.audioPlayer.labelBack
          }}</label>
        </div>
      </button>
      <mat-divider class="es-audio-player-options__divider"></mat-divider>
      <button
        *ngFor="let rate of rates"
        mat-button
        class="es-audio-player-options__menu-item"
        disableRipple
        [attr.aria-label]="locale.audioPlayer.labelRate + ' ' + rate"
        (click)="onChangePlaybackRate(rate)"
      >
        <div class="es-audio-player-options__item-content es-body-100">
          <label>{{ rate === 1 ? locale.audioPlayer.labelNormal : rate }}</label>

          <mat-icon
            *ngIf="rate === currentRate"
            class="es-audio-player-options__icon es-audio-player-options__icon_ml-auto"
            svgIcon="es-audio-player:check"
          ></mat-icon>
        </div>
      </button>
    </div>
  </ng-template>
</ng-container>
