@mixin es-audio-player-options-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);

  .es-audio-player-options {
    &__button.mat-icon-button {
      color: mat-color($mono-a, A600);
    }

    &__sub-label {
      color: mat-color($mono-b, A600);
    }

    &__item-content {
      color: mat-color($mono-b, 500);
    }

    &__divider {
      border-color: mat-color($mono-b, A100);
    }

    &__icon {
      color: mat-color($mono-b, A900);

      &_dark {
        color: mat-color($mono-b, A600);
      }
    }
  }
}
