<button
  mat-icon-button
  class="es-audio-player-options__button"
  disableRipple="true"
  esTooltip
  [esTooltipContent]="content"
  esTooltipArrow
  esTooltipInteractive
>
  <img src="./assets/elonkit/audio-player/more-vert.svg" />
</button>

<ng-template #content>
  <div class="es-audio-player-options__menu" [style.display]="isRatePage ? 'none' : 'flex'">
    <button
      class="es-audio-player-options__menu-item"
      mat-button
      disableRipple
      (click)="isRatePage = !isRatePage"
    >
      <div class="es-audio-player-options__item-content">
        <img class="es-audio-player-options__icon" src="./assets/elonkit/audio-player/speed.svg" />
        <div>
          <label>{{ locale.labelSpeed }}</label>
          <label class="es-audio-player-options__sub-label">{{
            currentRate === 1 ? locale.labelNormal : currentRate
          }}</label>
        </div>
        <img
          class="es-audio-player-options__icon_ml"
          src="./assets/elonkit/audio-player/chevron-right.svg"
        />
      </div>
    </button>
    <button
      mat-button
      class="es-audio-player-options__menu-item"
      disableRipple
      [disabled]="!src"
      (click)="audioDownload.emit()"
    >
      <div class="es-audio-player-options__item-content">
        <img
          class="es-audio-player-options__icon"
          src="./assets/elonkit/audio-player/download.svg"
        />
        <label class="es-audio-player-options__label_ml-18">{{ locale.labelDownload }}</label>
      </div>
    </button>
  </div>

  <div class="es-audio-player-options__menu" [style.display]="!isRatePage ? 'none' : 'flex'">
    <button
      mat-button
      class="es-audio-player-options__menu-item"
      disableRipple
      (click)="isRatePage = !isRatePage"
    >
      <div class="es-audio-player-options__item-content">
        <img src="./assets/elonkit/audio-player/chevron-left.svg" />
        <label class="es-audio-player-options__label_ml-18">{{ locale.labelBack }}</label>
      </div>
    </button>
    <mat-divider class="es-audio-player-options__divider"></mat-divider>
    <button
      *ngFor="let rate of rates"
      mat-button
      class="es-audio-player-options__menu-item"
      disableRipple
      (click)="onChangePlaybackRate(rate)"
    >
      <div class="es-audio-player-options__item-content">
        <label>{{ rate === 1 ? locale.labelNormal : rate }}</label>
        <img
          class="es-audio-player-options__icon_ml"
          *ngIf="rate === currentRate"
          src="./assets/elonkit/audio-player/check.svg"
        />
      </div>
    </button>
  </div>
</ng-template>
