.storybook-preview {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0 !important;
  margin: 25px 0 40px;
  overflow: hidden;

  &__toggle {
    align-items: center;
    background: transparent;
    border: 0 none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    display: flex;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-left: auto;
    padding: 4px 10px;

    &:focus,
    &:active {
      box-shadow: #1ea7fd 0 -3px 0 0 inset;
      outline: 0 none;
    }
  }

  &__source {
    background: #333;
    color: #fff;

    > .docblock-source {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      margin: 0;

      *,
      * &:focus,
      * &:active {
        outline: 0 none;
      }

      button {
        font-family: 'Courier New', monospace;
      }
    }
  }
}
