.es-avatar {
  position: relative;

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__default {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &_variant_square {
    border-radius: 5px;
    // stylelint-disable-next-line
    .es-avatar__img {
      border-radius: 5px;
    }
  }

  &_variant_round {
    border-radius: 50%;
    // stylelint-disable-next-line
    .es-avatar__img {
      border-radius: 50%;
    }
  }
}
