@mixin es-avatar-theme($theme, $elonkit-theme) {
  $cl-mono-a: map-get($elonkit-theme, mono-a);
  $cl-success: map-get($elonkit-theme, positive);
  $cl-mono-b: map-get($elonkit-theme, mono-b);

  .es-avatar {
    background: mat-color($cl-mono-a, A100);
    color: mat-color($cl-mono-a, A500);

    &__status {
      background: mat-color($cl-success, 500);
      border-color: mat-color($cl-mono-b, 500);

      &_custom {
        background: mat-color($cl-mono-b, 500);
      }
    }
  }
}
