<div
  data-testid="avatar"
  class="es-avatar"
  [ngStyle]="{ 'height.px': height, 'width.px': width, 'border-radius.px': borderRadius }"
>
  <span *ngIf="!!text" class="es-avatar__text" [ngClass]="textTypography">
    {{ text }}
  </span>
  <img
    *ngIf="!text"
    class="es-avatar__img"
    [ngStyle]="{ 'border-radius.px': borderRadius }"
    [src]="src"
    [alt]="(locale$ | async).avatar.labelAvatar"
  />
  <div
    *ngIf="showStatus"
    data-testid="status"
    class="es-avatar__status"
    [ngClass]="{ 'es-avatar__status_custom': !!statusSrc }"
    [ngStyle]="{
      'height.px': statusHeight,
      'width.px': statusWidth,
      'border-width.px': statusBorderWidth
    }"
  >
    <img
      *ngIf="!!statusSrc"
      class="es-avatar__status-img"
      [src]="statusSrc"
      [alt]="(locale$ | async).avatar.labelStatus"
    />
  </div>
</div>
